
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>More recipe | TOP RECIPES</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/more-recipe.css">

    <style type="text/css">

    div.card {
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      text-align: center;
      margin-bottom: 20px
    }

    img {
      width: 100%;
      height: 100%;
    }

    </style>
  </head>

  <body>

<!--
N A V B A R ! 
-->
  <header>
    <nav class="navbar navbar-inverse fixed-top navbar-toggleable-md">
      <div class="container">
        <a class="navbar-brand" href="./home.html">More Recipe</a>
      </div>
    </nav>
  </header>

      

<!--
M A I N     D O C U M E N T 
-->

  <main>
    <div class="container">

      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="page-header">
          <a href="add_recipes.html" class="btn btn-success float-right" role="button">Create Recipe</a>
        </button>
            <h2>Top Recipes</h2>
          </div>

          <div class="card mb-4">
            <img class="card-img-top" src="assets/bg.jpg" alt="Card image cap">
            <div class="card-block">
              <a href="recipes-details.html"><h4 class="card-title">Recipe Title</h4></a>
              <p class="card-text">Hmmmmmmmmmmmmmmmmmmmmmm, Yummy !</p>
              <p class="card-text"><small class="text-muted"><a href="users.html">toby</a> | Posted 3 mins ago</small></p>
            </div>
          </div>

          <div class="card mb-4">
            <img class="card-img-top" src="assets/bg.jpg" alt="Card image cap">
            <div class="card-block">
              <a href="recipes-details.html"><h4 class="card-title">Recipe Title</h4></a>
              <p class="card-text">Hmmmmmmmmmmmmmmmmmmmmmm, Yummy !</p>
              <p class="card-text"><small class="text-muted"><a href="users.html">toby</a> | Posted 3 mins ago</small></p>
            </div>
          </div>

          <div class="card mb-4">
            <img class="card-img-top" src="assets/bg.jpg" alt="Card image cap">
            <div class="card-block">
              <a href="recipes-details.html"><h4 class="card-title">Recipe Title</h4></a>
              <p class="card-text">Hmmmmmmmmmmmmmmmmmmmmmm, Yummy !</p>
              <p class="card-text"><small class="text-muted"><a href="users.html">toby</a> | Posted 3 mins ago</small></p>
            </div>
          </div>

          <div class="card mb-4">
            <img class="card-img-top" src="assets/bg.jpg" alt="Card image cap">
            <div class="card-block">
              <a href="recipes-details.html"><h4 class="card-title">Recipe Title</h4></a>
              <p class="card-text">Hmmmmmmmmmmmmmmmmmmmmmm, Yummy !</p>
              <p class="card-text"><small class="text-muted"><a href="users.html">toby</a> | Posted 3 mins ago</small></p>
            </div>
          </div>

          </div>



        </div>
      </div>
  </main>
<!-- 
E N D   OF   M A I N
-->


<!--
F O O T E R 
-->

 <footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 legal">
        <span>© 2017 More Recipe</span>
      </div>
  
    </div>
  </div>
</footer>

      <!-- 
      Load necessary javascript file jquery first, then bootstrap ! 
      --> 
      <script type="text/javascript" src="javascript/jquery.min.js"></script>
      <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
  </body>
</html>
