<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>More recipe | Home</title>
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/more-recipe.css">


  <style type="text/css">
    .wrapper {
      background: url('assets/bg.jpg');
      background-position: center, center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      color: white;
    }
    
    .layer {
      background-color: rgba(13, 18, 43, .6);
      position: absolute; 
      width: 100%;
      height: 100vh;
    }
    

  </style>
</head>

<body>
  <div class="wrapper">


    <!-- 
      N A V B A R ! ! 
    --> 
    <header>
     <nav class="navbar navbar-inverse navbar-toggleable-md">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="home.html">More Recipes</a>


        <!--
         N O    N E E D   F O R   A L L   T H E S E 
       -->

        <!--

        <div class="collapse navbar-collapse" id="navbarsExampleContainer">
          <ul class="navbar-nav justify-content-end mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="sign-up.html">SIGN UP <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sign-in.html">SIGN IN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="feed.html">TOP RECIPES</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      -->


    </div>
  </nav>
</header>

<div class="background">
  <div class="layer">
    
    <main>
      <div class="container">
        

        <div class="row cover">
          <div class="col-md-7">
            <h1>Share Your Recipes With The World Today</h1>

            <p class="lead">Welcome to <strong>More Recipe</strong>. A platform where you can share your recipe with the world<strong> </strong> Got any 
              recipes ideas ? Share with the world now !!</p>
            </div>
            <div class="col-md-5">
              <h2>Sign up to get started</h2>
              <form action="" method="post" id="new-account">
                <div class="form-group">
                  <input class="form-control input-lg" type="text" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                  <input class="form-control input-lg" type="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                  <input class="form-control input-lg" type="email" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-secondary btn-lg btn-block app-btn">Create a new account</button>
                </div>

                <div class="form-group text-center">
                  <p>Already have an account ?
                    <a href="./sign-in.html" class="">Sign In</a>
                  </p>
                </div>
              </form>      
            </div>
          </div>


        </div>
      </main>

      <div class="push"></div>
    </div>

  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 legal">
        <span>© 2017 More Recipe</span>
      </div>
      
    </div>
  </div>
</footer>


</div>
</div>

<script type="text/javascript" src="javascript/jquery.min.js"></script>
<script type="text/javascript" src="javascript/bootstrap.min.js"></script>
</body>
</html>